/**************************** CSS large devices **************************/

#About {
    width: 100%;
    height: 710px;
}

#About .About-cover {
    width: 100%;
    height: 100%;
    background-image: url(./background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 1px F0F3F9;
}

#About .About-content {
    padding: 160px 20px 20px 20px;
    width: 100%;
    height: 100%;
}

#About .content-title h1 {
    color: white !important;
    font-size: 60px;
    font-family: Lucida Handwriting;
}

#About .content-title p {
    margin-top: 50px;
    color: white !important;
    font-size: 25px;
}


/**************************** CSS small devices **************************/

@media screen and (min-width: 100px) and (max-width: 640px) {
    #About {
        width: 100%;
        height: 760px;
    }
    #About .About-cover {
        width: 100%;
        height: 100%;
        background-image: url(./background.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        box-shadow: 1px 1px 1px F0F3F9;
    }
    #About .content-title h1 {
        color: white !important;
        font-size: 40px;
        font-family: Lucida Handwriting;
    }
    #About .content-title p {
        color: white !important;
        font-size: 20px;
    }
}