#SLayout .navbar-default {
    margin-bottom: 0;
    padding-top: 60px;
    padding-bottom: 0;
    height: 30px;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

#SLayout .navbar-default a {
    margin-top: 25px;
    color: white !important;
    font-size: 20px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

#SLayout .navbar-default .navbar-brand {
    margin-top: 25px;
    color: white !important;
    font-size: 25px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

#SLayout {
    background-color: #F0F3F9;
}

#SLayout .nav-top-nav {
    margin: 0;
    padding-bottom: 0;
    background-color: #41648F;
    border: 0;
    opacity: 0.9;
    border-radius: 0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

#SLayout .dropdown {
    background: transparent !important;
    border-radius: 4px;
    width: 200px;
}

#SLayout .dropdown :focus {
    background: transparent !important;
}

#SLayout .dropdown-menu {
    margin-top: 5px !important;
}

#SLayout .dropdown-status>li>a {
    color: black !important;
}

#SLayout .dropdown ul.dropdown-status {
    background: white;
    box-shadow: none;
    width: 200px;
    padding-bottom: 13px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    color: black;
}

#SLayout .dropdown ul.dropdown-status:before {
    content: "";
    border-bottom: 10px solid white;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    left: 16px;
    z-index: 10;
}

#SLayout .dropdown ul.dropdown-status:after {
    content: "";
    border-bottom: 12px solid white;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    left: 14px;
    z-index: 9;
}

a {
    cursor: pointer;
}

@media screen and (min-width: 100px) and (max-width: 640px) {
    #SLayout .navbar-toggle {
        float: left;
        margin-left: 20px;
        margin-top: 34px;
    }
    #SLayout .navbar-default .navbar-brand {
        margin-top: 28px;
        margin-left: 40px;
        color: white !important;
        font-size: 25px;
    }
    #SLayout .navbar-default .navbar-right {
        margin-top: 0;
        padding: 20px 20px 40px 20px;
        background-color: #20365D;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }
    #SLayout .dropdown {
        background: transparent !important;
        border-radius: 4px;
        width: 200px;
    }
    #SLayout .dropdown :focus {
        background: transparent !important;
    }
    #SLayout .dropdown-menu {
        margin-top: 5px !important;
    }
    #SLayout .dropdown-status>li>a {
        color: black !important;
    }
    #SLayout .dropdown ul.dropdown-status {
        background: white;
        box-shadow: none;
        width: 200px;
        padding-bottom: 13px;
        padding-top: 1px;
        padding-left: 0;
        padding-right: 0;
        color: black;
    }
}